.restaurant{
  width:50%;
  margin-top:20px; 
}

.fat{
  font-size: 16px;
  font-weight: bold;
}

.name{
  font-size:20px;
}

a:hover {
  color: blue;
}

.name, .address{
  text-align: center;
}

.review-header{
  background-color:#add8e6;
}

.add-review{
  background-color:#e6bbad
}

.button {
  border: none;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius:20px;
}

.button:hover{
  background-color:	#d8e6ad;
}

.submit{
  border:none;
  color:black;
  text-align:center;
  background-color:#e6d8ad;
}

.submit:focus{
  background-color: black;
  color:white;
}

.wrapper{
  text-align:center
}

.review-toggle{
  border:none;
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
}

/*Remove blue box around button and input*/
button:focus, input:focus{
  outline: 0;
}
