.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/*.map-div{
  width: 50%;
  display: inline-block;
  float: right;
}

.restaurant-div{
  width: 50%;
  display: inline-block;
  float:left;
}
*/

.flex-container{
  display:flex;
}

.flex-container > div{
  width:50%;
}

h1, h2, h3, h4, h5{
  font-family: 'Lora', serif !important;
}

p, a, button{
  font-family: 'Merriweather', serif !important;

}
